doctype	html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    base(href=baseUrl + '/')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
    style(type='text/css').
      :root {
        --main-bg-color: #{themeColors['--main-bg-color']};
        --main-fg-color: #{themeColors['--main-fg-color']};
        --main-accent-color: #{themeColors['--main-accent-color']};
        --main-dark-accent-color: 0, 0, 0;
        --error-bg-color: 244, 67, 54
      }
    script(src='/socket.io/socket.io.js')
    script(src='dashboard-files/common/common.js')
    block header
  body
    block body
    block scripts
